{# Compone el correo de restablecimiento de contraseña.  #}
{% autoescape off %}
Hola {{ user.get_full_name|default:user.username }}.

Recibimos una solicitud para restablecer tu contraseña en EpicAnimes.

Para continuar, haz clic en el siguiente enlace para restablecer tu contraseña:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no solicitaste este cambio, ignora este correo. Tu cuenta seguirá segura.

Gracias,
Equipo EpicAnimes
{% endautoescape %}

