{% load static %}
<link rel="icon" type="image/svg+xml" href="{% static 'media/favicons/epic-animes.svg' %}">
<link rel="shortcut icon" href="{% static 'media/favicons/favicon.ico' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicons/epic-animes-32.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'media/favicons/epic-animes-192.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicons/epic-animes-180.png' %}">
<link rel="mask-icon" href="{% static 'media/favicons/epic-animes.svg' %}" color="#e94560">
<link rel="manifest" href="{% static 'media/favicons/site.webmanifest' %}">
<meta name="theme-color" content="#0c1228">
